In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
Mydata=pd.read_csv('hour.csv',delimiter=",")
Mydata.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [2]:
Mydata.shape

(17379, 17)

In [3]:
#Split up the dataset into inputs and targets
#create a dataframe with all training data except the target column
X=Mydata.iloc[:,2:16].values
X.shape

(17379, 14)

In [4]:
#separate target values
y = Mydata['cnt'].values

In [5]:
y.shape

(17379,)

In [119]:
#Split the dataset into train and test data
from sklearn.model_selection import train_test_split
#split dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [120]:
#â€ŠFeature Scaling
'''
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
np.shape(X_train)
'''

'\nfrom sklearn.preprocessing import StandardScaler\nsc = StandardScaler()\nX_train = sc.fit_transform(X_train)\nX_test = sc.transform(X_test)\nnp.shape(X_train)\n'

In [121]:
#Building and training the model
# Create KNN classifier
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 3)
# Fit the classifier to the data
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [123]:
y_test[0:10]

array([389, 146, 152, 188,  62, 133, 698, 155, 357, 418])

In [124]:
#show first 5 model predictions on the test data
knn.predict(X_test)[0:10]

array([387, 142, 145, 188,  62, 135, 693, 156, 350, 408])

In [125]:
#check accuracy of our model on the test data
knn.score(X_test, y_test)

0.1441311852704258